body {
    background-color: #565856;
    width: 100vw;
    height: 100vh;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.clickable{
    width: 10vw;
    height: 4vh;
    background-color: lime;
    color: white;
    text-align: center;
}

.logotype{
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -28%);
    width: 120px;
    height: 100px;
}

.start-button{
    position: absolute;
    width: 100px;
    height: 25px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.start-shadow{
    position: absolute;
    width: 100px;
    height: 25px;
    top: 55.5%;
    left: 50.5%;
    transform: translate(-50.5%, -55.5%);
    background-color: rgb(0, 90, 0);
    color: rgb(0, 90, 0);
    text-align: center
}

.cosmetics{
    position: absolute;
    width: 120px;
    height: 25px;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -62%);
    text-align: center;
}

.cosmetics-shadow{
    position: absolute;
    width: 120px;
    height: 25px;
    top: 62.5%;
    left: 50.5%;
    transform: translate(-50.5%, -62.5%);
    background-color: rgb(0, 90, 0);
    color: rgb(0, 90, 0);
    text-align: center;
}

.snakes{
    width: 20vw;
    height: 80vh;
}

.first-snake{
    position: absolute;
    top: 0%;
    left: 25%;
    transform: translate(-25%, 0%);
}

.second-snake{
    position: absolute;
    top: 0%;
    left: 75%;
    transform: translate(-75%, 0%);
}

@media(max-width: 550px){
    .start-button{
        position: absolute;
        width: 140px;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -55%);
    }

    .start-shadow{
        position: absolute;
        width: 140px;
        top: 55.5%;
        left: 50.5%;
        transform: translate(-50.5%, -55.5%);
        background-color: rgb(0, 90, 0);
        color: rgb(0, 90, 0);
        text-align: center
    }

    .cosmetics{
        position: absolute;
        width: 170px;
        top: 62%;
        left: 50%;
        transform: translate(-50%, -62%);
    }

    .cosmetics-shadow{
        position: absolute;
        width: 170px;
        top: 62.5%;
        left: 50.5%;
        transform: translate(-50.5%, -62.5%);
        background-color: rgb(0, 90, 0);
        color: rgb(0, 90, 0);
        text-align: center
    }
}